
.feature-box{
  padding: 1rem;
  width: 50%;
  flex: 0 0 auto;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 90px;
  height: 100%;
}

.grid{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -1.8rem;
}

.top-box{
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-icon{
  width: 56px;
  height: 56px;
  border-radius: 80px;
}

.text-style{
  color: #006C4F;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

