:host ::ng-deep {
  .p-button {

    display: flex;
  }
  .p-card{
    height: 100%;
    width: 100%;
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    background-color: #BFC9C2;
  }
}



.notification-header{
  display: flex;
  align-items: center;
  align-self: stretch;
}

.header-text{
  display: flex;
  height: 40px;
  align-items: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}

.notification-block{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}

.little-block{
  background-color: #FFFFFF;
  border-radius: 16px;
}
